* {
    color: white;
}

html, body {
    /* background: url("../images/spaceground.png") no-repeat center center fixed;  */

    /* credit https://gradients.shecodes.io/*/
    /* background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);  */
    /* background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);  */
    /* background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);  */
    background: linear-gradient(72.3deg, rgb(29, 7, 64) 8.5%, rgba(158, 46, 18, 0.562) 92.2%); 
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

    /* background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%); */
}



body.dark-theme {
    background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%); 
  }

.cardimg{
    /* background: url("../images/spaceground.png") no-repeat center center fixed;  */
    
    /* border-radius: 5%;
    width: 25vw; */
    /* width: 250px; */
    /* height: 100%; */

    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); */
    /* grid-template-columns: auto auto auto auto; */
    /* grid-gap: 15px; */
    /* grid-auto-rows: max-content; */
}

.project_cards {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    /* grid-template-columns: auto auto auto auto; */
    grid-gap: 15px;


/* 
    width: 200px;
    height: 200px; */
    /* background-color: red; */

    /* display: flex;
    width: 350px;
    height: 450px;
    border: 10px solid #51565c;
    border-radius: 20px;
    background-color: #e64135;
    text-align: center; */
}

.card {
    display: flex;
    /* width: 600px;
    height: 450px; */
    /* width: 45vw; */
    height: 25vh;
    /* max-width: 100%; */
    width: 50%;
    /* height: 50%; */
    border: 5px solid #09112a;
    border-radius: 8px;
    background-color: #1c2e5a;
    text-align: center;
}




/* ujhhgb */
 /* aughughujwhagu */

 /* AUGHUIAWHG */
 /* vs code likes to add null and kill all my code */